<app-breadcrumb pageName="View My Orders"></app-breadcrumb>
<p-messages></p-messages>
<div *ngIf="listOfPurchaseOrder.length !== 0">
  <p-carousel
    [value]="listOfPurchaseOrder"
    [numVisible]="3"
    [numScroll]="3"
    [circular]="false"
  >
    <ng-template pTemplate="header">
      <br />
      <div class="purchase-order-title">
        <h1>Your purchase order</h1>
      </div>

      <br />
    </ng-template>
    <ng-template let-purchaseOrder pTemplate="item">
      <div class="po-container">
        <p-card>
          <h4 style="text-align: center">
            Reference number: {{ purchaseOrder.referenceNumber }}
          </h4>
          <br />
          <h6 style="text-align: center">
            Timestamp: {{ purchaseOrder.dateCreated | date: "medium" }}
          </h6>
          <br />
          <div class="status-badges">
            <p *ngIf="isComplete(purchaseOrder)">
              Status:
              <p-badge
                value="{{ purchaseOrder.purchaseOrderStatus }}"
                severity="success"
              ></p-badge>
            </p>
            <p *ngIf="inProgress(purchaseOrder)">
              Status:
              <p-badge
                value="{{ purchaseOrder.purchaseOrderStatus }}"
                severity="info"
              ></p-badge>
            </p>
            <p *ngIf="readyForShipment(purchaseOrder)">
              Status:
              <p-badge
                value="{{ purchaseOrder.purchaseOrderStatus }}"
                severity="warning"
              ></p-badge>
            </p>
            <p *ngIf="isRefunded(purchaseOrder)">
              Status:
              <p-badge
                value="{{ purchaseOrder.purchaseOrderStatus }}"
                severity="danger"
              ></p-badge>
            </p>
          </div>

          <div class="car-buttons p-mt-5">
            <p-button
              class="action-button"
              type="button"
              styleClass="p-button p-button-rounded p-mr-2"
              icon="pi pi-search"
              pTooltip = "View purchase order details"
              (onClick)="showViewPurchaseOrderDialog(purchaseOrder)"
            ></p-button>
            <p-button
              class="action-button"
              alt="Create support ticket"
              type="button"
              styleClass="p-button p-button-rounded p-mr-2"
              icon="pi pi-ticket"
              pTooltip  = "Ask for support"
              (onClick)="navigateToSupportTicket()"
            ></p-button>
            <p-button
              class="action-button"
              type="button"
              styleClass="p-button p-button-rounded"
              icon="pi pi-comments"
              pTooltip  = "Create review / post forum"
              (onClick)="showForumPostDialog(purchaseOrder)"
            ></p-button>
          </div>
        </p-card>
      </div>
    </ng-template>
  </p-carousel>
</div>
<div *ngIf="listOfPurchaseOrder.length === 0">
  <div class="site">
    <div class="sketch">
      <div class="bee-sketch red"></div>
      <div class="bee-sketch blue"></div>
    </div>

    <h5>
      Oops: looks like you have nothing on your list!
      <br />
      <small>Start browsing now!</small>
      <br />
      <br />
      <p-button
        title="Go to support page"
        icon="pi pi-shopping-cart"
        pButton
        class="p-button-raised p-button-rounded"
        label="Shop now"
        (onClick)="redirectToProductPage()"
      ></p-button>
    </h5>
  </div>
</div>
<p-dialog
  class="view-order-dialog"
  *ngIf="viewOrderDisplay"
  [modal]="true"
  [maximizable]="true"
  header="View Purchase Order Details"
  [(visible)]="viewOrderDisplay"
  [style]="{ width: '70vw' }"
>
  <p-card
    header="Reference number: {{ purchaseOrderToView.referenceNumber }}"
    subheader="Timestamp: {{
      purchaseOrderToView.dateCreated | date: 'medium'
    }}"
    [style]="{ width: '100%' }"
    styleClass="p-card-shadow"
  >
    <br />
    <h4>How is your purchase order processed?</h4>
    <p-timeline [value]="events1" layout="horizontal">
      <ng-template pTemplate="content" let-event>
        {{ event.status }}
      </ng-template>
    </p-timeline>
    <br />
    <p *ngIf="isComplete(purchaseOrderToView)">
      Status:
      <p-badge
        value="{{ purchaseOrderToView.purchaseOrderStatus }}"
        severity="success"
      ></p-badge>
    </p>
    <p *ngIf="inProgress(purchaseOrderToView)">
      Status:
      <p-badge
        value="{{ purchaseOrderToView.purchaseOrderStatus }}"
        severity="info"
      ></p-badge>
    </p>
    <p *ngIf="readyForShipment(purchaseOrderToView)">
      Status:
      <p-badge
        value="{{ purchaseOrderToView.purchaseOrderStatus }}"
        severity="warning"
      ></p-badge>
    </p>
    <p *ngIf="isRefunded(purchaseOrderToView)">
      Status:
      <p-badge
        value="{{ purchaseOrderToView.purchaseOrderStatus }}"
        severity="danger"
      ></p-badge>
    </p>
    <br />
    <p>Total spending: ${{ purchaseOrderToView.totalPrice | number: ".2" }}</p>
    <!-- <p> Status: <p-badge value="{{purchaseOrderToView.purchaseOrderStatus}}" severity = "success"></p-badge></p>   -->
    <p>List of items:</p>
    <br />

    <p-table
      *ngIf="atLeastOneAcc(purchaseOrderToView)"
      [value]="listOfAccPol"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Serial number</th>
          <th>Accessory</th>
          <th>Quantity</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pol>
        <tr>
          <td *ngIf="isAccessory(pol)">{{ pol.serialNumber }}</td>
          <td *ngIf="isAccessory(pol)">
            {{ pol.accessoryItemEntity.accessoryItemName }}
          </td>
          <td *ngIf="isAccessory(pol)">{{ pol.quantity }}</td>
        </tr>
      </ng-template>
    </p-table>

    <br />
    <p-table
      [value]="listOfBuildPol"
      *ngIf="atLeastOneBuild(purchaseOrderToView)"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Serial number</th>
          <th>Product</th>
          <th>Part choices</th>
          <th>Chassis Customization</th>
          <th>Quantity</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pol>
        <tr>
          <td *ngIf="isBuilt(pol)">{{ pol.serialNumber }}</td>
          <td *ngIf="isBuilt(pol)">{{ pol.productEntity.productName }}</td>
          <td *ngIf="isBuilt(pol)">
            <p-table
              [value]="pol.partChoiceEntities"
              [style]="{ width: '20vw' }"
            >
              <ng-template pTemplate="body" let-partChoice>
                <tr>
                  <td>{{ partChoice.partChoiceName }}</td>
                </tr>
              </ng-template>
            </p-table>
          </td>
          <td>
            <p-card *ngIf="checkIfImageExist(pol)">
              <img
                alt="default cosmetic"
                src="{{
                  'http://localhost:8080/beforeLightningBackend-war/uploadedFiles/' +
                    pol.cosmeticImageLink
                }}"
                name="cosmetic image"
                style="max-width: 100%; text-align: center"
              />
            </p-card>
            <p *ngIf="!checkIfImageExist(pol)" style="text-align: center">
              No cosmetic customization requested
            </p>
          </td>
          <td *ngIf="isBuilt(pol)">{{ pol.quantity }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
  <br />
  <!-- <p>Any complaints regarding your product? Write to us now!</p>
  <br />
  <p-button
    class="action-button"
    type="button"
    styleClass="p-button p-mr-2"
    label="Create a support ticket"
    icon="pi pi-ticket"
    (onClick) = "showForumPostDialog(purchaseOrderToView)"
  ></p-button>
  <br />
  <br />
  <p>Love our product? Leave us a review!</p>
  <br />
  <p-button
    class="action-button"
    type="button"
    styleClass="p-button pp-mr-2"
    icon="pi pi-comments"
    label="Write review"
    (onClick)="showForumPostDialog(purchaseOrderToReview)"
  ></p-button> -->
</p-dialog>

<p-dialog
  header="Leave us a review!"
  class="submit-forum-dialog"
  *ngIf="submitForumDisplay"
  [modal]="true"
  [(visible)]="submitForumDisplay"
  [style]="{ width: '30vw' }"
>
  <p-card>
    <p>
      Share with others about your custom-built product & shopping experience!
    </p>
    <br />
    <p-button
      class="action-button"
      type="button"
      label="Bring me to the forum page"
      (onClick)="directToForumPage()"
    ></p-button>
  </p-card>
  <br />
  <p-card>
    <p>Have your product delivered already? Leave us a review!</p>
    <br />
    <p-button
      class="action-button"
      type="button"
      label="Create a new review"
      (onClick)="showCreateReviewDialog(purchaseOrderToReview)"
      *ngIf="
        isComplete(purchaseOrderToReview) || isRefunded(purchaseOrderToReview)
      "
    ></p-button>

    <p-button
      class="action-button"
      type="button"
      [disabled]="true"
      pTooltip="You can only review a product once the order is completed"
      label="Create a new review"
      (onClick)="showCreateReviewDialog(purchaseOrderToReview)"
      *ngIf="
        !isComplete(purchaseOrderToReview) && !isRefunded(purchaseOrderToReview)
      "
    ></p-button>
  </p-card>
</p-dialog>

<p-dialog
  header="Review for purchase order: {{
    purchaseOrderToReview.referenceNumber
  }}"
  class="submit-forum-dialog"
  *ngIf="createReviewDisplay"
  [modal]="true"
  [(visible)]="createReviewDisplay"
  [maximizable]="true"
  [style]="{ width: '70vw' }"
>
  <p-divider></p-divider>
  <p-card>
    <p-messages></p-messages>
    <p>Choose item that you want to review in the purchase order:</p>
    <br />
    <div class="product-acc-button">
      <p-button
        type="button"
        styleClass="p-button p-button-rounded"
        class="laptop-button"
        icon="pi pi-desktop"
        label="Customizable laptop"
        (onClick)="chooseProduct()"
      ></p-button>
      <p-button
        type="button"
        styleClass="p-button p-button-rounded"
        class="accessory-item-button"
        icon="pi pi-mobile"
        label="Accessory item"
        (onClick)="chooseAccessory()"
      ></p-button>
    </div>
  </p-card>
  <br />

  <form
    *ngIf="chooseProd"
    #productReviewForm="ngForm"
    (ngSubmit)="createNewReviewForProduct(productReviewForm)"
  >
    <div class="product-listbox">
      <p-listbox
        [options]="productChoices"
        [(ngModel)]="prodId"
        id="inputProductId"
        name="productId"
        #inputProductId="ngModel"
        [(ngModel)]="prodId"
        required="true"
        optionLabel="productName"
        optionValue="productEntityId"
      >
        <ng-template pTemplate="header">
          Choose the product you want to review
        </ng-template>
      </p-listbox>
    </div>
    <br />

    <!-- <span class="p-float-label">
      <div *ngIf="chooseProd" class="acc-listbox">
        <p-listbox
          [options]="accessoryChoices"
          [(ngModel)]="accId"
          id="inputAccId"
          name="accId"
          type="number"
          pInputText
          #inputAccId="ngModel"
          [(ngModel)]="accId"
          required="true"
          optionLabel="accessoryItemName"
          optionValue="accessoryItemEntityId"
        >
          <ng-template pTemplate="header">
            Choose the product you want to review
          </ng-template>
        </p-listbox>
      </div>
      <label for="inputAccId">Choose the product you want to review</label>
    </span> -->
    <p-card *ngIf="prodId != 0">
      <div class="rating-review-box">
        <h4 for="inputRating1">Choose the rating of the product</h4>
        <br />
        <p-rating
          id="inputRating1"
          name="rating"
          type="number"
          [(ngModel)]="rating"
          required="true"
          #inputinputRating="ngModel"
        ></p-rating>

        <br />
        <br />
        <h4 for="inputDesc1">What do you like / dislike from our product?</h4>
        <br />
        <textarea
          style="width: 100%"
          id="inputDesc1"
          name="description"
          type="text"
          [(ngModel)]="description"
          required="false"
          #inputDesc="ngModel"
          pInputTextarea
          title = "product-review-txtarea"
        ></textarea>
      </div>
    </p-card>

    <!-- <button
      *ngIf="chooseAcc"
      (click)="createNewReviewForAccessory()"
      pButton
      type="submit"
      label="Create new review"
    ></button> -->
    <br />
    <br />
    <div class="form-action-button">
      <button
      title = "submit-review-button"
        type="submit"
        class="submit-button"
        pButton
        type="submit"
        label="Create new review"
        icon=" pi pi-thumbs-up"
      ></button>
      <p-button
        class="clear-button"
        icon="pi pi-times"
        (click)="clear()"
        label="Clear"
      ></p-button>
    </div>
  </form>

  <form
    *ngIf="chooseAcc"
    #accessoryReviewForm="ngForm"
    (ngSubmit)="createNewReviewForAccessory(accessoryReviewForm)"
  >
    <div class="acc-listbox">
      <p-listbox
        [options]="accessoryChoices"
        [(ngModel)]="accId"
        id="inputAccId"
        name="accId"
        #inputAccId="ngModel"
        [(ngModel)]="accId"
        required="true"
        optionLabel="accessoryItemName"
        optionValue="accessoryItemEntityId"
      >
        <ng-template pTemplate="header">
          Choose the product you want to review
        </ng-template>
      </p-listbox>
    </div>
    <br />
    <p-card *ngIf="accId != 0">
      <div class="rating-review-box">
        <h4 for="inputRating">Choose the rating of the product</h4>
        <br />
        <p-rating
          id="inputRating"
          name="rating"
          type="number"
          [(ngModel)]="rating"
          required="true"
          #inputinputRating="ngModel"
        ></p-rating>

        <br />
        <br />
        <h4 for="inputDesc">What do you like / dislike from our product?</h4>
        <br />
        <textarea
          style="width: 100%"
          id="inputDesc"
          name="description"
          type="text"
          title = "review-txt-area"
          [(ngModel)]="description"
          required="false"
          #inputDesc="ngModel"
          pInputTextarea
        ></textarea>
      </div>
    </p-card>
    <br />
    <br />
    <div class="form-action-button">
      <button
        type="submit"
        title = "submit-button"
        class="submit-button"
        pButton
        type="submit"
        label="Create new review"
        icon=" pi pi-thumbs-up"
      ></button>
      <p-button
        class="clear-button"
        icon="pi pi-times"
        (click)="clear()"
        label="Clear"
      ></p-button>
    </div>
  </form>
</p-dialog>
