<app-breadcrumb pageName="View My Orders"></app-breadcrumb>
<p-carousel
  [value]="listOfPurchaseOrder"
  [numVisible]="3"
  [numScroll]="3"
  [circular]="false"
>
  <ng-template pTemplate="header">
    <br />
    <h1>Your purchase order</h1>
    <br />
  </ng-template>
  <ng-template let-purchaseOrder pTemplate="item">
    <div class="po-container">
      <p-card>
        <h4 style="text-align: center">
          Reference number: {{ purchaseOrder.referenceNumber }}
        </h4>
        <br />
        <h6 style="text-align: center">
          Timestamp: {{ purchaseOrder.dateCreated }}
        </h6>
        <br />
        <div class="status-badges">
          <p *ngIf="isComplete(purchaseOrder)">
            Status:
            <p-badge
              value="{{ purchaseOrder.purchaseOrderStatus }}"
              severity="success"
            ></p-badge>
          </p>
          <p *ngIf="inProgress(purchaseOrder)">
            Status:
            <p-badge
              value="{{ purchaseOrder.purchaseOrderStatus }}"
              severity="info"
            ></p-badge>
          </p>
          <p *ngIf="readyForShipment(purchaseOrder)">
            Status:
            <p-badge
              value="{{ purchaseOrder.purchaseOrderStatus }}"
              severity="warning"
            ></p-badge>
          </p>
          <p *ngIf="isRefunded(purchaseOrder)">
            Status:
            <p-badge
              value="{{ purchaseOrder.purchaseOrderStatus }}"
              severity="danger"
            ></p-badge>
          </p>
        </div>

        <div class="car-buttons p-mt-5">
          <p-button
            class="action-button"
            type="button"
            styleClass="p-button p-button-rounded p-mr-2"
            icon="pi pi-search"
            (onClick)="showViewPurchaseOrderDialog(purchaseOrder)"
          ></p-button>
          <p-button
            class="action-button"
            type="button"
            styleClass="p-button p-button-rounded p-mr-2"
            icon="pi pi-ticket"
          ></p-button>
          <p-button
            class="action-button"
            type="button"
            styleClass="p-button p-button-rounded"
            icon="pi pi-comments"
            (onClick)="showForumPostDialog()"
          ></p-button>
        </div>
      </p-card>
    </div>
  </ng-template>
</p-carousel>

<p-dialog
  class="view-order-dialog"
  *ngIf="viewOrderDisplay"
  [modal]="true"
  header="View Purchase Order Details"
  [(visible)]="viewOrderDisplay"
  [style]="{ width: '50vw' }"
>
  <p-card
    header="Reference number: {{ purchaseOrderToView.referenceNumber }}"
    subheader="Timestamp: {{ purchaseOrderToView.dateCreated }}"
    [style]="{ width: '100%' }"
    styleClass="p-card-shadow"
  >
    <br />
    <h4>How is your purchase order processed?</h4>
    <p-timeline [value]="events1" layout="horizontal">
      <ng-template pTemplate="content" let-event>
        {{ event.status }}
      </ng-template>
    </p-timeline>
    <br />
    <p *ngIf="isComplete(purchaseOrderToView)">
      Status:
      <p-badge
        value="{{ purchaseOrderToView.purchaseOrderStatus }}"
        severity="success"
      ></p-badge>
    </p>
    <p *ngIf="inProgress(purchaseOrderToView)">
      Status:
      <p-badge
        value="{{ purchaseOrderToView.purchaseOrderStatus }}"
        severity="info"
      ></p-badge>
    </p>
    <p *ngIf="readyForShipment(purchaseOrderToView)">
      Status:
      <p-badge
        value="{{ purchaseOrderToView.purchaseOrderStatus }}"
        severity="warning"
      ></p-badge>
    </p>
    <p *ngIf="isRefunded(purchaseOrderToView)">
      Status:
      <p-badge
        value="{{ purchaseOrderToView.purchaseOrderStatus }}"
        severity="danger"
      ></p-badge>
    </p>
    <br />
    <p>Total spending: ${{ purchaseOrderToView.totalPrice }}</p>
    <!-- <p> Status: <p-badge value="{{purchaseOrderToView.purchaseOrderStatus}}" severity = "success"></p-badge></p>   -->
    <p>List of items:</p>
    <br />

    <p-table [value]="purchaseOrderLineItemToView">
      <ng-template pTemplate="header">
        <tr>
          <th>Serial number</th>
          <th>Accessory</th>
          <th>quantity</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pol>
        <tr>
          <td *ngIf="isAccessory(pol)">{{ pol.serialNumber }}</td>
          <td *ngIf="isAccessory(pol)">
            {{ pol.accessoryItemEntity.accessoryItemName }}
          </td>
          <td *ngIf="isAccessory(pol)">{{ pol.quantity }}</td>
        </tr>
      </ng-template>
    </p-table>

    <br />
    <p-table [value]="purchaseOrderLineItemToView">
      <ng-template pTemplate="header">
        <tr>
          <th>Serial number</th>
          <th>Product</th>
          <th>Part choices</th>
          <th>quantity</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pol>
        <tr>
          <td *ngIf="isBuilt(pol)">{{ pol.serialNumber }}</td>
          <td *ngIf="isBuilt(pol)">{{ pol.productEntity.productName }}</td>
          <td *ngIf="isBuilt(pol)">
            <p-table
              [value]="pol.partChoiceEntities"
              [style]="{ width: '20vw' }"
            >
              <ng-template pTemplate="body" let-partChoice>
                <tr>
                  <td>{{ partChoice.partChoiceName }}</td>
                </tr>
              </ng-template>
            </p-table>
          </td>
          <td *ngIf="isBuilt(pol)">{{ pol.quantity }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
  <br />
  <p>Any complaints regarding your product? Write to us now!</p>
  <br />
  <p-button
    class="action-button"
    type="button"
    styleClass="p-button p-mr-2"
    label="Create a support ticket"
    icon="pi pi-ticket"
  ></p-button>
  <br />
  <br />
  <p>Love our product? Leave us a review!</p>
  <br />
  <p-button
    class="action-button"
    type="button"
    styleClass="p-button pp-mr-2"
    icon="pi pi-comments"
    label="Write review"
    (onClick)="showForumPostDialog()"
  ></p-button>
</p-dialog>

<p-dialog
  header="Leave us a review!"
  class="submit-forum-dialog"
  *ngIf="submitForumDisplay"
  [modal]="true"
  [(visible)]="submitForumDisplay"
  [style]="{ width: '30vw' }"
>
  <p-card>
    <p>
      Share with others about your custom-built product & shopping experience!
    </p>
    <br />
    <p-button
      class="action-button"
      type="button"
      label="Bring me to the forum page"
      (onClick)="directToForumPage()"
    ></p-button>
  </p-card>
  <br />
  <p-card>
    <p>Have your product delivered already? Leave us a review!</p>
    <br />
    <p-button
      class="action-button"
      type="button"
      label="Create a new review"
    ></p-button>
  </p-card>
</p-dialog>

<!-- <div class="card">
	<h5>How is your build request processed?</h5>
	<p-timeline [value]="events1" styleClass="customized-timeline">
		<ng-template pTemplate="marker" let-event>
			<span class="custom-marker p-shadow-2" [style.backgroundColor]="event.color">
                <i [ngClass]="event.icon"></i>
            </span>
		</ng-template>
		<ng-template pTemplate="content" let-event>
			<p-card [header]="event.status">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
					repudiandae numquam deserunt
					quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
					neque quas!</p>
				<button pButton label="Read more" class="p-button-text"></button>
			</p-card>
		</ng-template>
	</p-timeline>
</div> -->

<!-- <div class="card">
    <p-dataView
    #dv
    [value]="listOfPurchaseOrder"
    [paginator]="true"
    [rows]="9"
    filterBy="name"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    layout="grid"
  >
    <ng-template pTemplate="header">
      <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
        <p-dropdown
          [options]="sortOptions"
          [(ngModel)]="sortKey"
          placeholder="Sort By Date"
          (onChange)="onSortChange($event)"
          styleClass="p-mb-2 p-mb-md-0"
        ></p-dropdown>
        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
          <i class="pi pi-search"></i>
          <input
            type="search"
            pInputText
            placeholder="Search by Name"
            (input)="dv.filter($any($event.target).value)"
          />
        </span>
        <div class="extra-forum-function">
          <div class="create-forum-button">
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template let-purchaseOrder pTemplate="gridItem">
      <div class="p-col-12 p-md-4">
        <div class="product-grid-item card">
          <div class="product-grid-item">
            <div class="po-content">
              <div class="po-maincontent">
                <span class="po-number">Your reference number: {{ purchaseOrder.referenceNumber }}</span>
                <div class="po-timestamp">Purchase order timestamp: {{ purchaseOrder.dateCreated }}</div>
                <div class="po-price">Total payment: SGD{{ purchaseOrder.totalPrice }}</div>
              </div>
            </div>
            <div class="po-action"></div>
          </div>
          <p-divider></p-divider>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div> -->
