::ng-deep header {
  background-image: linear-gradient(to right, #174b80, #c5c6c7);
  min-height: 70px;

}

h1 {
  font-size: 2em;
}

.bl-title {
  color: white;
  margin-top: 1em;
  margin-left: 1em;
  flex-basis: 88%;
}

.log-in-as {
  font-style: normal;
  font-size: small;
  color: #13142c;
  margin-top: 0px;
  flex-direction: row-reverse;
}

.header-container {
  display: flex;
}

.greeting-profile {
  display: flex;
}

.profile-button img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 0.5em;
  margin-top: 2em;
}

.greeting h3 {
  color: white;
  margin-top: 2.8em;
  margin-right: 0.6em;
  margin-bottom: 0.2em;
  text-align: right;
}

.input-container {
  margin-bottom: 3em;
}

.login-action-button {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 1em;
  text-align: right;
}

.username-input {
  display: flex;
  margin-top: 1em;
  margin-right: 1em;
}

.input-label {
  flex-basis: 70%;
}

.error-message {
  margin-right: 1em;
  margin-left: 0;
  padding-left: 0;
}