<header class="header">
  <article>
    <div class="bl-title">
      <h1>Before Lightning</h1>
      <p>Your Go-to for Custom Built</p>
    </div>
  </article>
  <aside id="loginbox" class="loginbox">
    <div *ngIf="sessionService.getIsLogin() == false">
      <label for="username">Username </label>
      <input
        type="text"
        [(ngModel)]="username"
        size="16"
        required
        maxlength="32"
      />
      &nbsp;
      <label for="password">Password </label>
      <input
        type="password"
        [(ngModel)]="password"
        size="16"
        required
        maxlength="32"
      />
      &nbsp;
      <p-button
          (click)="resetButton()"
          label="Clear"
          [style]="{'width':'60px', 'height':'25px', 'font-size' : '10px', 'padding' : '2px'}"  
        ></p-button>      &nbsp;

      <p-button
          (click)="memberLogin()"
          label="Login"
          [style]="{'width':'60px', 'height':'25px', 'font-size' : '10px', 'padding' : '2px'}"  
        ></p-button>
    </div>

    <div *ngIf="loginError == true" style="text-align: right; color: red">
      Invalid login credential: Username does not exist or invalid password!
    </div>

    <div *ngIf="sessionService.getIsLogin() == true">
      <h4>You are logged in as</h4> {{ sessionService.getCurrentMember().firstname }}
      {{ sessionService.getCurrentMember().lastname }}
    
        <p-button
          (click)="memberLogout()"
          label="Logout"
          [style]="{'width':'60px', 'height':'25px', 'font-size' : '10px', 'padding' : '2px'}"  
        ></p-button>
    </div>
  </aside>
</header>
