<app-breadcrumb></app-breadcrumb>
  

<section class="page_404">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-10 col-sm-offset-1 text-center">
            <div class="four_zero_four_bg">
              <h1 class="text-center">Oh no :(</h1>
            </div>

            <div class="contant_box_404">
              <h3 class="h2">
                Looks like that your account has been deactivated!
              </h3>

              <p>You can browse our catalogue without logging in though!</p>
              <br/>
              <p-button
                  title="Go to home page"
                  icon = "pi pi-home"
                  pButton
                  class="p-button-raised p-button-rounded"
                  (onClick)="redirectToHomepage()"
                >
                </p-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

