<p-messages></p-messages>
<p-button
  (click)="showMaximizableDialog()"
  icon="pi pi-plus"
  label="Create new forum post"
></p-button>
<form #createForumPostForm="ngForm" (ngSubmit)="create(createForumPostForm)">
  <p-dialog
    header="Create New Forum Post"
    [(visible)]="displayMaximizable"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [maximizable]="true"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
  >
    <div class="forum-title-entry">
      <h5>Title</h5>
      <br />
      <input name = "forum-title" type="text" pInputText [(ngModel)]="title" />
      
    </div>
    <div class="content-section implementation forum-content-entry">
      <div class="card">
        <h5>Content</h5>
        <br/>
        <p-editor
          [(ngModel)]="content"
          [style]="{ height: '320px' }"
          name = "forum-content"
        ></p-editor>
      </div>
    </div>
    <ng-template pTemplate="footer">
      
      <input type = "submit" value = "Create new post"/>
      <p-button
        icon="pi pi-times"
        (click)="clear()"
        label="Clear"
      ></p-button>
    </ng-template>
  </p-dialog>
</form>
