.p-dropdown {
    width: 14rem;
    font-weight: normal;
}

.product-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.card {
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 2rem;
    padding-right: 2em;
    overflow-wrap: break-word;
}

.forum-title {
    font-size: 1.5em;
}

.forum-timestamp {
    font-size: small;
}

.forum-box-content-subcontent {
    margin-top: 1.5em;
}
.forum-box-content-subcontent{
    margin-top: 1.5em;
}

.forum-box-content-subcontent button{
    margin-right: 0.5em;
}

.extra-forum-function {
    float: left;
}

p-panel {
    overflow-wrap: break-word;

}

.reply-form-container {
    display: flex;
}

.reply-profile {
    margin-top: 1em;
    flex-basis: 15%;
}

.reply-action {
    margin-top: 1em;
    display: flex;
}

.submit-button {
    margin-right: 1em;
}

.reply-box {
    display: flex;
}

.reply-avatar {
    flex-basis: 20%;
    text-align: left;
}

.avatar-only {
    margin-left: 1em;
}

