<app-breadcrumb pageName="Forum: All posts"></app-breadcrumb>
<app-forum-menu></app-forum-menu>
<p-messages [(value)]="msgs"></p-messages>
<div class="card">
  <p-dataView
    #dv
    [value]="forumPosts"
    [paginator]="true"
    [rows]="9"
    filterBy="name"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    layout="grid"
  >
    <ng-template pTemplate="header">
      <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
        <div *ngIf="sessionService.getIsLogin() == true">
          <app-create-new-forum-post
            (signalToRefresh)="callRefreshList($event)"
          ></app-create-new-forum-post>
        </div>

        <br />
        <p-dropdown
          [options]="sortOptions"
          [(ngModel)]="sortKey"
          placeholder="Sort By Date"
          (onChange)="onSortChange($event)"
          styleClass="p-mb-2 p-mb-md-0"
        ></p-dropdown>
      </div>
    </ng-template>
    <ng-template let-forum pTemplate="gridItem">
      <div class="p-col-12 p-md-4">
        <div class="product-grid-item card">
          <div class="product-grid-item">
            <div class="forum-box-user"></div>
            <div class="forum-box-content">
              <div class="forum-box-content-maincontent">
                <span class="forum-title">{{ forum.title }}</span>
                <p-divider></p-divider>
                <div class="forum-timestamp">
                  Published on {{ forum.timestamp | date: "medium" }}
                </div>
                <br />
                <div class="forum-content">{{ forum.content }}</div>
              </div>
              <br />
              <span class="p-buttonset">
                <div class="forum-box-buttons">
                  <p-button
                    title="View forum details"
                    class="p-button-raised p-button-rounded"
                    icon="pi pi-search"
                    (onClick)="showDialog(forum)"
                    label="View"
                    id="view-button"
                  >
                  </p-button>
                  <p-button
                    *ngIf="sessionService.getIsLogin() == true"
                    title="Comment on this post"
                    icon="pi pi-comment"
                    class="p-button-rounded forum-button"
                    (onClick)="showCreateReplyDialog(forum)"
                    label="Comment"
                    id="comment-button"
                  ></p-button>
                  <p-button
                    *ngIf="
                      sessionService.getIsLogin() == true &&
                      !fastCheckHasAlreadyLiked(forum)
                    "
                    title="View forum details"
                    class="p-button-raised p-button-rounded p-button-warning forum-button"
                    icon="pi pi-thumbs-up"
                    (click)="changeLikes(forum)"
                    id="like-button"
                    label="Like"
                  >
                  </p-button>
                  <p-button
                    *ngIf="
                      sessionService.getIsLogin() == true &&
                      fastCheckHasAlreadyLiked(forum)
                    "
                    title="Unlike this post"
                    class="p-button-rounded forum-button"
                    icon="pi pi-thumbs-down"
                    (click)="changeLikes(forum)"
                    id="dislike-button"
                    label="Unlike"
                  ></p-button>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>

<p-dialog
  class="view-forum-dialog"
  *ngIf="display"
  [modal]="true"
  header="View Forum Details"
  [(visible)]="display"
  [style]="{ width: '50vw' }"
>
  <p-card
    header="{{ forumToView.title }}"
    subheader="{{ forumToView.author?.username }}"
    [style]="{ width: '100%' }"
    styleClass="p-card-shadow"
  >
    <ng-template pTemplate="header">
      <div class="forum-image">
        <img
          *ngIf="forumToView.imageLink"
          alt="forum image"
          src="{{
            'http://localhost:8080/beforeLightningBackend-war/uploadedFiles/' +
              forumToView.imageLink
          }}"
        />
        <img
          *ngIf="!forumToView.imageLink"
          alt="default forum image"
          src="assets/images/forumDefault.png"
        />
      </div>
    </ng-template>

    <div style="overflow-wrap: break-word">
      {{ forumToView.content }}
    </div>
    <ng-template pTemplate="footer">
      <p-button
        label="Like"
        badge="{{ forumToView.userWhoLikes?.length }}"
        styleClass="mr-2"
        (click)="showViewLikesDisplay(forumToView)"
      ></p-button>
      <!-- <p-chip
        label=
        icon="pi pi-thumbs-up"
        type = "button"
        style="padding-right: 1em"
      ></p-chip> -->
    </ng-template>
  </p-card>
  <p-panel header="Replies" [toggleable]="true">
    <p-dataView [value]="forumToViewReplies">
      <ng-template let-reply pTemplate="listItem">
        <div class="reply-box">
          <!-- <h1>{{JSON.stringify(reply.author)}}</h1> -->
          <div class="reply-avatar">
            <div class="avatar-only">
              <p-avatar
                *ngIf="doesNotHaveProfilePic(reply.author)"
                label="{{ reply.author.username.charAt(0) }}"
                size="large"
                style="text-align: center"
              ></p-avatar>

              <p-avatar
                *ngIf="!doesNotHaveProfilePic(reply.author)"
                image="{{
                  'http://localhost:8080/beforeLightningBackend-war/uploadedFiles/' +
                    reply.author.imageLink
                }}"
                size="large"
                style="text-align: center; border-radius: 100%;"
              ></p-avatar>
            </div>
            <p>{{ reply.author.username }}</p>
          </div>
          <div class="reply-content">
            <p>{{ reply.content }}</p>
            <br />
            <div class="forum-timestamp">
              Published on {{ reply.timestamp | date: "medium" }}
            </div>
            <br />
          </div>
        </div>
        <br />
      </ng-template>
    </p-dataView>
  </p-panel>
</p-dialog>

<p-dialog
  class="add-new-comment"
  *ngIf="createReplyDisplay"
  [modal]="true"
  header="Create new comment"
  [(visible)]="createReplyDisplay"
  [style]="{ width: '40vw' }"
>
  <div class="reply-form-container">
    <div class="reply-profile">
      <div class="member-bio" style="margin-left: 1.2em">
        <p-avatar
          *ngIf="doesNotHaveProfilePic(currentMember)"
          label="{{ currentMember.username.charAt(0) }}"
          size="large"
          style="text-align: center"
        ></p-avatar>

        <p-avatar
          *ngIf="!doesNotHaveProfilePic(currentMember)"
          image="{{
            'http://localhost:8080/beforeLightningBackend-war/uploadedFiles/' +
              currentMember.imageLink
          }}"
          size="large"
          style="text-align: center"
        ></p-avatar>
        <br />
      </div>
      <div>{{ currentMember.username }}</div>
    </div>
    <form>
      <div class="reply-content-form">
        <span class="p-float-label">
          <textarea
            inputId="textarea"
            rows="3"
            style="resize: none"
            cols="30"
            name="reply-text-area"
            [(ngModel)]="replyContent"
            pInputTextarea
            style="width: 180%"
          ></textarea>
          <label for="textarea">Write your comment here!</label>
        </span>
      </div>
      <div class="reply-action">
        <div class="submit-button">
          <button
            icon="pi pi-comment"
            (click)="createNewReply()"
            pButton
            label="Post comment"
          ></button>
        </div>
        <div class="clear-button">
          <p-button
            icon="pi pi-times"
            (click)="clearReplyForm()"
            label="Clear"
          ></p-button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>

<p-dialog
  class="add-new-comment"
  *ngIf="viewLikesDisplay"
  [modal]="true"
  header="User who likes the post"
  [(visible)]="viewLikesDisplay"
  [style]="{ width: '20vw' }"
>
  <p-dataView [value]="likeList">
    <ng-template let-userLikes pTemplate="listItem">
      <div class="like-box">
        <div class="like-avatar">
          <div class="avatar-only">
            <p-avatar
              *ngIf="doesNotHaveProfilePic(userLikes)"
              label="{{ userLikes.username.charAt(0) }}"
              size="large"
              style="text-align: center; margin-right: 2em"
            ></p-avatar>

            <p-avatar
              *ngIf="!doesNotHaveProfilePic(userLikes)"
              image="{{
                'http://localhost:8080/beforeLightningBackend-war/uploadedFiles/' +
                  userLikes.imageLink
              }}"
              size="large"
              style="text-align: center; margin-right: 2em"
            ></p-avatar>
          </div>
          <p>{{ userLikes.username }}</p>
        </div>
        <br />
      </div>
      <br />
    </ng-template>
  </p-dataView>
</p-dialog>
