<app-breadcrumb></app-breadcrumb>
<app-forum-menu></app-forum-menu>
<app-upload-file></app-upload-file>
<div class="card">
  <p-dataView
    #dv
    [value]="forumPosts"
    [paginator]="true"
    [rows]="9"
    filterBy="name"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    layout="grid"
  >
  
  
    <ng-template pTemplate="header">
      <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
        <p-dropdown
          [options]="sortOptions"
          [(ngModel)]="sortKey"
          placeholder="Sort By Date"
          (onChange)="onSortChange($event)"
          styleClass="p-mb-2 p-mb-md-0"
        ></p-dropdown>
        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
          <i class="pi pi-search"></i>
          <input
            type="search"
            pInputText
            placeholder="Search by Name"
            (input)="dv.filter($any($event.target).value)"
          />
        </span>
        <app-create-new-forum-post></app-create-new-forum-post>

        
        
      </div>
    </ng-template>

    <ng-template let-forum pTemplate="gridItem">
      <div class="p-col-12 p-md-4">
        <div class="product-grid-item card">
          <div class="product-grid-item">
            <div class="forum-box-user"></div>
            <div class="forum-box-content">
              <div class="forum-box-content-maincontent">
                <span class="forum-title">{{ forum.title }}</span>
                <div class="forum-content">{{ forum.content }}</div>
                <div class="forum-timestamp">{{ forum.timestamp }}</div>
              </div>
              <div class="forum-box-content-subcontent">
                <button
                  title="Like this post"
                  pButton
                  type="button"
                  icon="pi pi-thumbs-up"
                  class="p-button-raised p-button-rounded"
                ></button>
                <button
                  title="Dislike this post"
                  pButton
                  type="button"
                  icon="pi pi-thumbs-down"
                  class="p-button-raised p-button-rounded"
                ></button>
                <button
                  title="Comment on this post"
                  pButton
                  type="button"
                  icon="pi pi-comment"
                  class="p-button-raised p-button-rounded"
                ></button>
                <p-button 
                title = "View forum details"
                pButton
                class="p-button-raised p-button-rounded"
                icon = "pi pi-search" 
                (onClick)="showDialog(forum)">
              </p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>


<p-dialog  class = "view-forum-dialog" *ngIf="display" [modal]="true" header="View Forum Details" [(visible)]="display" [style]="{width: '50vw'}">
  <p-panel class = "view-forum-header" header="Title">
    <span>{{ forumToView.title }}</span>
  </p-panel>
  <p-panel class = "view-forum-header" header="Content">
    <span>{{ forumToView.content }}</span>
  </p-panel>
  <p-panel class = "view-forum-header" header="Author">
    <span>{{ forumToView.author?.username }}</span>
  </p-panel>
  <p-panel class = "view-forum-header" header="Timestamp">
    <span>{{ forumToView.timestamp }}</span>
  </p-panel>
  <p-panel class = "view-forum-header" header="Number of likes">
    <span>{{ forumToView.userWhoLikes?.length }}</span>
  </p-panel>
  <p-panel class = "view-forum-header" header="Number of dislikes">
    <span>{{ forumToView.userWhoDislikes?.length }}</span>
  </p-panel>
  <p-panel header="Replies"  [toggleable]="true">
    <p-table [value]="forumToViewReplies">
      <ng-template pTemplate="header">
          <tr>
              <th>Author</th>
              <th>Content</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-reply>
          <tr>
              <td>{{reply.author.username}}</td>
              <td>{{reply.content}}</td>
             
          </tr>
      </ng-template>
      
  </p-table>
  </p-panel>
</p-dialog>
