<app-breadcrumb></app-breadcrumb>
<app-forum-menu></app-forum-menu>
<div class="card">
  <p-dataView
    #dv
    [value]="forumPosts"
    [paginator]="true"
    [rows]="9"
    filterBy="name"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    layout="grid"
  >
    <ng-template pTemplate="header">
      <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
        <app-create-new-forum-post
          (signalToRefresh)="callRefreshList($event)"
        ></app-create-new-forum-post>
        <br />
        <p-dropdown
          [options]="sortOptions"
          [(ngModel)]="sortKey"
          placeholder="Sort By Date"
          (onChange)="onSortChange($event)"
          styleClass="p-mb-2 p-mb-md-0"
        ></p-dropdown>
        <!-- <span class="p-input-icon-left p-mb-2 p-mb-md-0">
          <i class="pi pi-search"></i>
          <input
            type="search"
            pInputText
            placeholder="Search by Name"
            (input)="dv.filter($any($event.target).value)"
          />
        </span> -->
      </div>
    </ng-template>

    <ng-template let-forum pTemplate="gridItem">
      <div class="p-col-12 p-md-4">
        <div class="product-grid-item card">
          <div class="product-grid-item">
            <div class="forum-box-user"></div>
            <div class="forum-box-content">
              <div class="forum-box-content-maincontent">
                <span class="forum-title">{{ forum.title }}</span>
                <p-divider></p-divider>
                <div class="forum-timestamp">
                  Published on {{ forum.timestamp | date: "medium" }}
                </div>
                <br />
                <div class="forum-content">{{ forum.content }}</div>
              </div>
              <div class="forum-box-content-subcontent">
                <button
                  title="Like this post"
                  pButton
                  type="button"
                  icon="pi pi-thumbs-up"
                  class="p-button-raised p-button-rounded"
                ></button>
                <p-button
                  title="Comment on this post"
                  pButton
                  type="button"
                  icon="pi pi-comment"
                  class="p-button-raised p-button-rounded"
                  (onClick)="showCreateReplyDialog(forum)"
                  style="margin-right: 0.7em"
                ></p-button>
                <p-button
                  title="View forum details"
                  pButton
                  class="p-button-raised p-button-rounded"
                  icon="pi pi-search"
                  (onClick)="showDialog(forum)"
                >
                </p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>

<p-dialog
  class="view-forum-dialog"
  *ngIf="display"
  [modal]="true"
  header="View Forum Details"
  [(visible)]="display"
  [style]="{ width: '50vw' }"
>
  <p-card
    header="{{ forumToView.title }}"
    subheader="{{ forumToView.author?.username }}"
    [style]="{ width: '100%' }"
    styleClass="p-card-shadow"
  >
    <ng-template pTemplate="header">
      <img
        *ngIf="forumToView.imageLink"
        alt="forum image"
        src="{{
          'http://localhost:8080/beforeLightningBackend-war/uploadedFiles/' +
            forumToView.imageLink
        }}"
      />
      <img
        *ngIf="!forumToView.imageLink"
        alt="default forum image"
        src="assets/images/forumDefault.png"
      />
    </ng-template>
    <p-divider></p-divider>
    <div style="overflow-wrap: break-word">
      {{ forumToView.content }}
    </div>
    <ng-template pTemplate="footer">
      <p-chip
        label="{{ forumToView.userWhoLikes?.length }}"
        icon="pi pi-thumbs-up"
        style="padding-right: 1em"
      ></p-chip>
    </ng-template>
  </p-card>
  <p-panel header="Replies" [toggleable]="true">
    <p-dataView [value]="forumToViewReplies">
      <ng-template let-reply pTemplate="listItem">
        
          <p-avatar label="P" size="large"></p-avatar>
          <p>{{ reply.author.username }}</p>
          <p>{{ reply.content }}</p>
          <p-divider></p-divider>
        
      </ng-template>
    </p-dataView>
  </p-panel>
</p-dialog>

<p-dialog
  class="add-new-comment"
  *ngIf="createReplyDisplay"
  [modal]="true"
  header="Create new comment"
  [(visible)]="createReplyDisplay"
  [style]="{ width: '50vw' }"
>
  <p-toast></p-toast>
  <div class="reply-form-container">
    <div class="reply-profile">
      <p-avatar label="P" shape="circle" size="large"></p-avatar>
      <div>{{ currentMember }}</div>
    </div>
    <form>
      <div class="reply-content-form">
        <span class="p-float-label">
          <textarea
            inputId="textarea"
            rows="3"
            style="resize: none"
            cols="30"
            name="reply-text-area"
            [(ngModel)]="replyContent"
            pInputTextarea
            style="width: 180%"
          ></textarea>
          <label for="textarea">Write your comment here!</label>
        </span>
      </div>
      <div class="reply-action">
        <div class="submit-button">
          <button
            icon="pi pi-comment"
            (click)="createNewReply()"
            pButton
            label="Post comment"
          ></button>
        </div>
        <div class="clear-button">
          <p-button
            icon="pi pi-times"
            (click)="clearReplyForm()"
            label="Clear"
          ></p-button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>
