<app-breadcrumb pageName="View My Cart"></app-breadcrumb>
<p-toast></p-toast>

<div *ngIf="myCart.length > 0; else elseBlock">
	<p-table [value]="myCart">
		<ng-template pTemplate="caption">
			<div class="p-d-flex p-ai-center p-jc-between">
				View My Cart
				<p-button icon="pi pi-shopping-cart" label="Check Out" style="padding-left: 70%" (click)="checkoutCart()"></p-button>
			</div>
		</ng-template>
		<ng-template pTemplate="header">
			<tr>
				<th>S/N</th>
				<th>Item Type</th>
				<th>Item</th>
				<th>Quantity</th>
				<th>Price</th>
				<th>Action</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-lineitem>
			<tr>
				<td>{{ lineitem.purchaseOrderLineItemEntityId }}</td>
				<td>{{ getLineItemType(lineitem) }}</td>
				<td>{{ getLineItem(lineitem) }}</td>
				<td>{{ lineitem.quantity }}</td>
				<td>{{ lineitem.subTotalPrice | currency: "SGD" }}</td>
				<td>
					<p-button icon="pi pi-pencil" label="Update" (onClick)="updateLineItem(lineitem)"></p-button>
					<br />
					<br />
					<p-button icon="pi pi-times" label="Remove" (onClick)="removeLineItem(lineitem)"></p-button>
				</td>
			</tr>
		</ng-template>
		<ng-template pTemplate="summary">
			<div class="p-d-flex p-ai-center p-jc-between">
				Total Price: ${{ totalPrice }}
				<!-- In total there are {{products ? products.length : 0 }} products. -->
			</div>
		</ng-template>
	</p-table>
</div>
<ng-template #elseBlock>
	<!-- Your cart seems empty... Start Browsing out Catalogue! -->

	<img alt="empty cart image" src="assets/images/emptycartimage.png" style="width: 100%; padding-top: 20px" />
</ng-template>

<p-dialog header="Update Quantity" [(visible)]="displayDialog" [style]="{ width: '50vw' }">
	<label for="minmax-buttons">Please select quantity: </label>
	<p-inputNumber inputId="minmax-buttons" [showButtons]="true" mode="decimal" [(ngModel)]="selectedQuantity" [min]="1" [max]="selectedQuantityOnHand"></p-inputNumber>

	<ng-template pTemplate="footer">
		<p-button icon="pi pi-check" (click)="confirmUpdate()" label="Confirm" styleClass="p-button-text"></p-button>
	</ng-template>
</p-dialog>

<div *ngIf="loggedIn === true && listOfCreditCards.length > 0; else elseBlock2">
	<p-dialog #parentDialog header="Confirm Checkout?" [(visible)]="displayCheckoutDialog" [style]="{ width: '60vw', height: '70vw' }" inputId="dialogCheckout">
		<h5>Please select how you would like to receive your order:</h5>
		<br />
		<p-selectButton [options]="deliveryOptions" [(ngModel)]="selectedDeliveryMode" optionLabel="label" optionValue="value"></p-selectButton>

		<div *ngIf="selectedDeliveryMode == 'Delivery'">
			<br />
			<br />
			<h5>Please Select Your Delivery Choice :</h5>
			<br />
			<p-selectButton (onChange)="setEarliestNumberOfDays()" [options]="deliveryChoices" [(ngModel)]="selectedDeliveryChoice" optionLabel="label" optionValue="value"></p-selectButton>
			<br />
			<br />
			<h5>Please Select Your Address For Delivery :</h5>
			<br />
			<p-dropdown [options]="listOfAddresses" [(ngModel)]="selectedAddress" placeholder="Select an Address" [showClear]="true" optionLabel="postalCode"></p-dropdown>
			<div *ngIf="selectedAddress.country != null">
				<p-panel header="Selected Address: ">
					<br />
					<h5>Country: {{ selectedAddress.country }}</h5>
					<h5>Unit: {{ selectedAddress.unit }}</h5>
					<h5>Block: {{ selectedAddress.block }}</h5>
					<h5>Postal Code: {{ selectedAddress.postalCode }}</h5>
				</p-panel>
			</div>
		</div>
		<br />
		<br />
		<h5>Please Select Your Date of Collection/Delivery :</h5>
		<br />
		<p-calendar [(ngModel)]="deliveryDate" [showTime]="true" [stepHour]="2" [stepMinute]="0" [minDate]="startDateToChoose" [defaultDate]="startDateToChoose" inputId="time" [appendTo]="parentDialog"></p-calendar>
		<br />
		<br />
		<h5>Please Select Credit Card For Payment :</h5>
		<br />
		<p-dropdown [options]="listOfCreditCards" [(ngModel)]="selectedCreditCard" placeholder="Select a Credit Card" [showClear]="true" optionLabel="creditCardNumber"></p-dropdown>
		<div *ngIf="selectedCreditCard.nameOnCard != null">
			<br />
			<p-panel header="Selected Credit Card: ">
				<h5>Name On Card: {{ selectedCreditCard.nameOnCard }}</h5>
				<h5>Card Number: {{ selectedCreditCard.creditCardNumber }}</h5>
				<h5>Expiry Date: {{ selectedCreditCard.expiryDate }}</h5>
			</p-panel>
		</div>

		<ng-template pTemplate="footer">
			<p-button icon="pi pi-check" (click)="confirmCheckoutCart()" label="Checkout Now!" styleClass="p-button-text"></p-button>
		</ng-template>
	</p-dialog>
</div>
<ng-template #elseBlock2>
	<div *ngIf="loggedIn === false; else elseBlock3">
		<p-dialog header="Hold on..." [(visible)]="displayCheckoutDialog" [style]="{ width: '30vw' }">
			<h5>It seems that you do not have an account yet</h5>
			<br />
			<h5>Register for a free account with us to be able to Checkout!</h5>

			<ng-template pTemplate="footer">
				<p-button icon="pi pi-check" (click)="closeCheckoutDialog()" label="No Problem!" styleClass="p-button-text"></p-button>
			</ng-template>
		</p-dialog>
	</div>

	<ng-template #elseBlock3>
		<p-dialog header="Before you proceed..." [(visible)]="displayCheckoutDialog" [style]="{ width: '30vw' }">
			<h5>Please ensure that you have a credit card in your account registered!</h5>
			<br />
			<h5>Proceed to Settings to add a credit card!</h5>
			<ng-template pTemplate="footer">
				<p-button icon="pi pi-check" (click)="closeCheckoutDialog()" label="No Problem!" styleClass="p-button-text"></p-button>
			</ng-template>
		</p-dialog>
	</ng-template>
</ng-template>
<!-- need to check if got credit card in account -->
