<app-breadcrumb pageName="View My Cart"></app-breadcrumb>
<p-toast></p-toast>

<div *ngIf="myCart.length > 0; else elseBlock">
	<p-table [value]="myCart">
		<ng-template pTemplate="caption">
			<div class="p-d-flex p-ai-center p-jc-between">
				View My Cart
				<p-button icon="pi pi-shopping-cart" label="Check Out" style="padding-left: 70%"></p-button>
			</div>
		</ng-template>
		<ng-template pTemplate="header">
			<tr>
				<th>S/N</th>
				<th>Item Type</th>
				<th>Item</th>
				<th>Quantity</th>
				<th>Price</th>
				<th>Action</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-lineitem>
			<tr>
				<td>{{ lineitem.purchaseOrderLineItemEntityId }}</td>
				<td>{{ getLineItemType(lineitem) }}</td>
				<td>{{ getLineItem(lineitem) }}</td>
				<td>{{ lineitem.quantity }}</td>
				<td>{{ lineitem.subTotalPrice | currency: "SGD" }}</td>
				<td>
					<p-button icon="pi pi-pencil" label="Update" (onClick)="updateLineItem(lineitem)"></p-button>
					<br />
					<br />
					<p-button icon="pi pi-times" label="Remove" (onClick)="removeLineItem(lineitem)"></p-button>
				</td>
			</tr>
		</ng-template>
		<ng-template pTemplate="summary">
			<div class="p-d-flex p-ai-center p-jc-between">
				Total Price: ${{ totalPrice }}
				<!-- In total there are {{products ? products.length : 0 }} products. -->
			</div>
		</ng-template>
	</p-table>
</div>
<ng-template #elseBlock> Your cart seems empty... Start Browsing out Catalogue! </ng-template>

<p-dialog header="Update Quantity" [(visible)]="displayDialog" [style]="{ width: '50vw' }">
	<label for="minmax-buttons">Please select quantity: </label>
	<p-inputNumber inputId="minmax-buttons" [showButtons]="true" mode="decimal" [(ngModel)]="selectedQuantity" [min]="1" [max]="selectedQuantityOnHand"></p-inputNumber>

	<ng-template pTemplate="footer">
		<p-button icon="pi pi-check" (click)="confirmUpdate()" label="Confirm" styleClass="p-button-text"></p-button>
	</ng-template>
</p-dialog>
