<p-messages key="successMessage"></p-messages>
<p-button
  (click)="showMaximizableDialog()"
  icon="pi pi-plus"
  label="Create new Support Ticket"
></p-button>
<form #createForumPostForm="ngForm" (ngSubmit)="create(createForumPostForm)">
  <p-dialog
    header="Create New Support Ticket"
    [(visible)]="displayMaximizable"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [maximizable]="true"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
  >
    <p-toast></p-toast>
    <div class="supportTicket-issue-entry">
      <h5>Tell us the issue you are facing</h5>
      <br />
      <input name="supportTicket-issue" type="text" pInputText [(ngModel)]="issue" style = "width: 100%;" />
    </div>

    <div *ngIf="sessionService.getIsLogin() == false">
      <h5>Let us know your email</h5>
      <br />
      <input name="supportTicket-email"  type="text" pInputText [(ngModel)]="email" style = "width: 100%;"  />
    </div>


    <br/>
    <br/>
    <br/>
    <br/>
    <ng-template pTemplate="footer">
      <button pButton type="submit" label="Create Support Ticket"></button>
      <p-button icon="pi pi-times" (click)="clear()" label="Clear"></p-button>
    </ng-template>
  </p-dialog>
</form>
