<app-breadcrumb pageName="Registeration"></app-breadcrumb>
<p-messages></p-messages>
<p-toast></p-toast>
<form #createNewMemberForm="ngForm" (ngSubmit)="createNewMember(createNewMemberForm)">
	<p-panel header="Register An Account: ">
		<h3>User Details</h3>
		<br />
		<ng-template pTemplate="body">
			<div class="form-group" style="width: 50%; float: left; padding: 10px">
				<span class="p-float-label">
					<input id="inputUsername" name="username" type="text" pInputText #inputUsername="ngModel" [(ngModel)]="member.username" />
					<label for="inputUsername">Username</label>
				</span>

				<br />
				<span class="p-float-label">
					<input id="inputPassword" name="password" type="password" [(ngModel)]="member.password" pPassword />
					<label for="inputPassword">Password</label>
				</span>
				<br />
				<span class="p-float-label">
					<input id="inputFirstName" name="firstname" type="text" [(ngModel)]="member.firstname" pInputText />
					<label for="inputFirstName">First Name</label>
				</span>
				<br />
				<span class="p-float-label">
					<input id="inputLastName" name="lastname" type="text" [(ngModel)]="member.lastname" pInputText />
					<label for="inputLastName">Last Name</label>
				</span>
				<br />
				<span class="p-float-label">
					<input id="inputEmail" name="email" type="text" [(ngModel)]="member.email" pInputText />
					<label for="inputEmail">Email</label>
				</span>
				<br />
				<span class="p-float-label">
					<input id="inputContact" name="contact" type="text" [(ngModel)]="member.contact" pInputText />
					<label for="inputContact">Contact</label>
				</span>
				<br />
			</div>

			<div style="width: 50%; float: left">
				<h3>Address:</h3>
				<br />
				<span class="p-float-label">
					<input id="inputCountry" name="country" type="text" [(ngModel)]="address.country" pInputText />
					<label for="inputCountry">Country</label>
				</span>
				<br />
				<span class="p-float-label">
					<input id="inputBlock" name="block" type="text" [(ngModel)]="address.block" pInputText />
					<label for="inputBlock">Block</label>
				</span>
				<br />
				<span class="p-float-label">
					<input id="inputUnit" name="unit" type="text" [(ngModel)]="address.unit" pInputText />
					<label for="inputUnit">Unit</label>
				</span>
				<br />
				<span class="p-float-label">
					<input id="inputPostalCode" name="postalcode" type="text" [(ngModel)]="address.postalCode" pInputText />
					<label for="inputPostalCode">Postal Code</label>
				</span>
				<br />
			</div>
			<button pButton type="submit" label="Register Account"></button>
		</ng-template>
	</p-panel>
</form>
