<app-breadcrumb></app-breadcrumb>
<app-forum-menu></app-forum-menu>
<br/>
<p-fieldset legend="Update Forum">
  <form
    *ngIf="retrieveForumError == false"
    #updateForumForm="ngForm"
    (ngSubmit)="update(updateForumForm)"
  >
    <h5>Title</h5>
    <br/>
    
    <input
      pTooltip="You cannot change title of existing forum"
      name = "forumUpdateName"
      type="text"
      pInputText
      [(ngModel)]="forumToUpdate.title"
      name="title"
      disabled="true"
    />
    <br/>
    <br/>

    <h5>Content</h5>
    <br />
    <p-editor
      [(ngModel)]="forumToUpdate.content"
      [style]="{ height: '320px' }"
      name="forumUpdateContent"
    ></p-editor>
    <br/>
    <br/>
    <h5>Would you like your post to be visible?</h5>
    <br/>
    <p-selectButton
      [options]="visibilityOptions"
      [(ngModel)]="forumToUpdate.isVisible"
      optionLabel="label"
      optionValue="value"
      name = "forumUpdateVisibility"
    ></p-selectButton>
    <br/>
    <br/>

    <p-button label="Submit" icon="pi pi-check"></p-button>

  </form>
</p-fieldset>
