<app-breadcrumb pageName="Support"></app-breadcrumb>

<div class="card">
	<p-dataView #dv [value]="supportTicketEntities" [paginator]="true" [rows]="9" layout="grid">
		<ng-template pTemplate="header">
			<div class="flex flex-column md:flex-row md:justify-content-between">
				<h1>Support Page</h1><br/><br/>
			</div><br/>
			<app-create-new-support-ticket (signalToRefresh)="callRefreshList($event)"></app-create-new-support-ticket>

		</ng-template>
		
		<ng-template let-supportTicket pTemplate="gridItem">
			<div *ngIf="sessionService.getIsLogin() == true">
			<div class="p-col-12 p-md-4">
				<div class="product-grid-item card">
				  <div class="product-grid-item">
					  <div class="forum-box-content-maincontent">
						<div class="forum-title"> 
							Ticket Ticket ID: {{ supportTicket.supportTicketId }}
						</div><br/>
						<div class="forum-content">
							Issue: {{ supportTicket.issue }}
						</div>
						<div class="forum-timestamp">
							Email: {{ supportTicket.email }}
						</div><br/>
						<div class="supportTicket-status">
							Status: {{ supportTicket.supportTicketStatus}}
						</div>
					</div>
				</div>
			</div>
			</div>
			</div>
			</ng-template>

		<!-- <ng-template let-supportTicket pTemplate="gridItem">
            <div class="col-12 md:col-4">
                <div class="supportTicket-grid-item card">
                    <div class="supportTicket-grid-item-top">
                        <div>
                            <i class="pi pi-tag supportTicket-category-icon"></i>
                            <span class="supportTicket-category">{{supportTicket.category}}</span>
                        </div>
                        <span [class]="'supportTicket-badge status-' + supportTicket.inventoryStatus.toLowerCase()">{{supportTicket.inventoryStatus}}</span>
                    </div>
                    <div class="supportTicket-grid-item-content">
                        <img [src]="'assets/showcase/images/demo/supportTicket/' + supportTicket.image" [alt]="supportTicket.name"/>
                        <div class="supportTicket-name">{{supportTicket.name}}</div>
                        <div class="supportTicket-description">{{supportTicket.description}}</div>
                        <p-rating [ngModel]="supportTicket.rating" [readonly]="true" [cancel]="false"></p-rating>
                    </div>
                    <div class="supportTicket-grid-item-bottom">
                        <span class="supportTicket-price">${{supportTicket.price}}</span>
                        <p-button icon="pi pi-shopping-cart" [disabled]="supportTicket.inventoryStatus === 'OUTOFSTOCK'"></p-button>
                    </div>
                </div>
            </div>
        </ng-template> -->
	</p-dataView>
</div>
