<app-breadcrumb pageName="Accessory"></app-breadcrumb>

<div class="card">
	<p-dataView #dv [value]="listOfAccessoryEntities" [paginator]="true" [rows]="9" layout="grid">
		<ng-template pTemplate="header">
			<div class="flex flex-column md:flex-row md:justify-content-between">
				<h2>Accessories</h2>
				<br />
				<span style="width: 25%; float: left">
					<p-dataViewLayoutOptions></p-dataViewLayoutOptions>
				</span>
				<span style="width: 75%">
					<p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange($event)" [style]="{ 'min-width': '15em' }"></p-dropdown>
				</span>
			</div>
		</ng-template>
		<ng-template let-accessory pTemplate="listItem">
			<div class="col-12">
				<div class="accessory-list-item">
					<!-- <img alt="Card" src="assets/images/sampleAccessory.png" style="width: 20%" /> -->
					<div class="accessory-list-detail" style="width: 60%">
						<div class="accessory-name">{{ accessory.accessoryName }}</div>
						<div class="accessory-description">{{ accessory.description }}</div>

						<!-- <p-rating [ngModel]="accessory.rating" [readonly]="true" [cancel]="false"></p-rating> -->
					</div>
					<div class="accessory-list-action" style="width: 20%; float: left">
						<div class="accessory-description">{{ accessory.accessoryOverview }}</div>
						<p-button label="View All" (onClick)="viewAllAccessoryItems(accessory)"> </p-button>
					</div>
				</div>
			</div>
			<div class="col-12"><br /></div>
		</ng-template>
		<ng-template let-accessory pTemplate="gridItem">
			<div class="col-12" style="border: 10px; margin-top: 20px; margin-bottom: 20px; border-width: 20px">
				<p-card header="{{ accessory.accessoryName }}" subheader="{{ accessory.accessoryOverview }}" [style]="{ width: '100%' }" styleClass="p-card-shadow">
					<ng-template pTemplate="header">
						<!-- <img alt="Card" src="assets/images/sampleAccessory.png" style="width: 600px; height: 500px" /> -->
					</ng-template>
					<div class="accessory-description">{{ accessory.description }}</div>
					<!-- <p-rating [ngModel]="accessory.rating" [readonly]="true" [cancel]="false"></p-rating> -->

					<ng-template pTemplate="footer">
						<p-button label="View All" (onClick)="viewAllAccessoryItems(accessory)"></p-button>
					</ng-template>
				</p-card>
			</div>
		</ng-template>
	</p-dataView>
</div>